* {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: orange;
	height: 10vh;
}

#brand {
	display: flex;
	align-items: center;
}

#logo {
	margin-left: 20px;
	font-size: 35px;
}

#brand-name {
	margin-left: 10px;
}

#links-container {
	display: flex;
	align-items: center;
}

a {
	margin: 0px 20px;
	text-decoration: none;
	font-size: 25px;
}

main {
	height: 85vh;
	background-color: lightyellow;
	text-align: center;
	display: flex;
}

h1 {
	margin: 10px;
}

#side-nav {
	width: 10vw;
	display: flex;
	flex-direction: column;
	background-color: yellow;
}

.side-nav-links {
	margin: 10px 0px;
}

#main-content {
	width: 90vw;
}

#menu-a {
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

#menu-b {
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

img {
	height: 200px;
	width: 250px;
}

h3 {
	margin: 10px;
}

footer {
	background-color: orange;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}